In [41]:
# Sequential Access of Data

workingClass = {}
education = {}
maritalStatus = {}
occupation = {}
relationship = {}
race = {}
sex = {}
country = {}
income = {}

fp = open('adult.data','r')

def counting(categoryDict, index):
    fp.seek(0)
    for line in fp:
        entry = line.split(',')
        category = entry[index]
        if category in categoryDict:
            categoryDict[category] = categoryDict[category] + 1
        else:
            categoryDict[category] = 1
    return categoryDict


def printing(categoryDict):
    print("\n")
    for counts in categoryDict:
        print(categoryDict[counts], "\t", counts)
    return

        
workingClassCount = counting(workingClass, 1)
printing(workingClassCount)

educationCount = counting(education, 3)
printing(educationCount)

maritalStatusCount = counting(maritalStatus, 5)
printing(maritalStatusCount)

occupationCount = counting(occupation, 6)
printing(occupationCount)

relationshipCount = counting(relationship, 7)
printing(relationshipCount)

raceCount = counting(race, 8)
printing(raceCount)

sexCount = counting(sex, 9)
printing(sexCount)

countryCount = counting(country, 13)
printing(countryCount)

incomeCount = counting(income, 14)
printing(incomeCount)

fp.close()

1298 	  State-gov
2541 	  Self-emp-not-inc
22696 	  Private
960 	  Federal-gov
2093 	  Local-gov
1836 	  ?
1116 	  Self-emp-inc
14 	  Without-pay
7 	  Never-worked


5355 	  Bachelors
10501 	  HS-grad
1175 	  11th
1723 	  Masters
514 	  9th
7291 	  Some-college
1067 	  Assoc-acdm
1382 	  Assoc-voc
646 	  7th-8th
413 	  Doctorate
576 	  Prof-school
333 	  5th-6th
933 	  10th
168 	  1st-4th
51 	  Preschool
433 	  12th


10683 	  Never-married
14976 	  Married-civ-spouse
4443 	  Divorced
418 	  Married-spouse-absent
1025 	  Separated
23 	  Married-AF-spouse
993 	  Widowed


3770 	  Adm-clerical
4066 	  Exec-managerial
1370 	  Handlers-cleaners
4140 	  Prof-specialty
3295 	  Other-service
3650 	  Sales
4099 	  Craft-repair
1597 	  Transport-moving
994 	  Farming-fishing
2002 	  Machine-op-inspct
928 	  Tech-support
1843 	  ?
649 	  Protective-serv
9 	  Armed-Forces
149 	  Priv-house-serv


8305 	  Not-in-family
13193 	  Husband
1568 	  Wife
5068 	  Own-child
3446 	  Unmarried
981 	  Other-relative


27816 	  White
3124 	  Black
1039 	  Asian-Pac-Islander
311 	  Amer-Indian-Eskimo
271 	  Other


21790 	  Male
10771 	  Female


29170 	  United-States
95 	  Cuba
81 	  Jamaica
100 	  India
583 	  ?
643 	  Mexico
80 	  South
114 	  Puerto-Rico
13 	  Honduras
90 	  England
121 	  Canada
137 	  Germany
43 	  Iran
198 	  Philippines
73 	  Italy
60 	  Poland
59 	  Columbia
19 	  Cambodia
18 	  Thailand
28 	  Ecuador
18 	  Laos
51 	  Taiwan
44 	  Haiti
37 	  Portugal
70 	  Dominican-Republic
106 	  El-Salvador
29 	  France
64 	  Guatemala
75 	  China
62 	  Japan
16 	  Yugoslavia
31 	  Peru
14 	  Outlying-US(Guam-USVI-etc)
12 	  Scotland
19 	  Trinadad&Tobago
29 	  Greece
34 	  Nicaragua
67 	  Vietnam
20 	  Hong
24 	  Ireland
13 	  Hungary
1 	  Holand-Netherlands


24720 	  <=50K

7841 	  >50K

In [42]:
# Column Access of Data

import pandas as pd 

df = pd.read_csv('adult.data', header=None)

for index in [1,3,5,6,7,8,9,13,14]:
    print("\n", df[index].value_counts())

 1
 Private             22696
 Self-emp-not-inc     2541
 Local-gov            2093
 ?                    1836
 State-gov            1298
 Self-emp-inc         1116
 Federal-gov           960
 Without-pay            14
 Never-worked            7
Name: count, dtype: int64

 3
 HS-grad         10501
 Some-college     7291
 Bachelors        5355
 Masters          1723
 Assoc-voc        1382
 11th             1175
 Assoc-acdm       1067
 10th              933
 7th-8th           646
 Prof-school       576
 9th               514
 12th              433
 Doctorate         413
 5th-6th           333
 1st-4th           168
 Preschool          51
Name: count, dtype: int64

 5
 Married-civ-spouse       14976
 Never-married            10683
 Divorced                  4443
 Separated                 1025
 Widowed                    993
 Married-spouse-absent      418
 Married-AF-spouse           23
Name: count, dtype: int64

 6
 Prof-specialty       4140
 Craft-repair         4099
 Exec-managerial      4066
 Adm-clerical         3770
 Sales                3650
 Other-service        3295
 Machine-op-inspct    2002
 ?                    1843
 Transport-moving     1597
 Handlers-cleaners    1370
 Farming-fishing       994
 Tech-support          928
 Protective-serv       649
 Priv-house-serv       149
 Armed-Forces            9
Name: count, dtype: int64

 7
 Husband           13193
 Not-in-family      8305
 Own-child          5068
 Unmarried          3446
 Wife               1568
 Other-relative      981
Name: count, dtype: int64

 8
 White                 27816
 Black                  3124
 Asian-Pac-Islander     1039
 Amer-Indian-Eskimo      311
 Other                   271
Name: count, dtype: int64

 9
 Male      21790
 Female    10771
Name: count, dtype: int64

 13
 United-States                 29170
 Mexico                          643
 ?                               583
 Philippines                     198
 Germany                         137
 Canada                          121
 Puerto-Rico                     114
 El-Salvador                     106
 India                           100
 Cuba                             95
 England                          90
 Jamaica                          81
 South                            80
 China                            75
 Italy                            73
 Dominican-Republic               70
 Vietnam                          67
 Guatemala                        64
 Japan                            62
 Poland                           60
 Columbia                         59
 Taiwan                           51
 Haiti                            44
 Iran                             43
 Portugal                         37
 Nicaragua                        34
 Peru                             31
 France                           29
 Greece                           29
 Ecuador                          28
 Ireland                          24
 Hong                             20
 Cambodia                         19
 Trinadad&Tobago                  19
 Laos                             18
 Thailand                         18
 Yugoslavia                       16
 Outlying-US(Guam-USVI-etc)       14
 Honduras                         13
 Hungary                          13
 Scotland                         12
 Holand-Netherlands                1
Name: count, dtype: int64

 14
 <=50K    24720
 >50K      7841
Name: count, dtype: int64